$def with (graph)

<!DOCTYPE html>
<html>

<head>

<style>
:root { 
    background: white;
}

#graph {
    position: relative;
	float: top;
}

#nav {
    position: relative;
	padding: 0px 8px;
	float: bottom;
}

#predict_button {
	height: 50px;
	width: 350px;
	margin: 3px;
	color: #b13051;
}

#graph_button {
	height: 50px;
	width: 350px;
	margin: 3px;
	color: green;
}


</style>
</head>

<body>

<div id="graph">
    $:graph
</div>

<div id="nav">
<br/>

<form method="POST" enctype="multipart/form-data" action="">

<input type="submit" id = "predict_button" name="predict_next" value="Predict next value"/>
<input type="submit" id = "predict_button" name="predict_next_5" value="Predict next 5 values"/>

<input type="submit" id = "graph_button" name="reset" value="Reset the graph"/>
<input type="submit" id = "graph_button" name="restore" value="Restore the full graph"/>

</form>

</div>


</body>

</html>